    <section>
            <h1>Cliente CHAT de Websockets</h1>
            <div id="mensajes"></div>
            <form onsubmit="return addMessage(this)">
            <input type="email" id="username" placeholder="Tu email" />
            <input type="text" id="texto" placeholder="Cuéntanos algo..." />
            <input type="submit" value="Enviar" />
            </form>
    </section>