    <section>
        <form class="formContact" onsubmit="return addProduct(this)" >
            <fieldset class="formulario">
                <legend class="formTit">Formulario de ingreso de productos</legend>
                <label class="FormItem" for="name">Title</label>
                <input class="FormItem" type="text" name="title" id="title">
                <label class="FormItem" for="phone">Price</label>
                <input class="FormItem" type="number" name="price" id="price"> 
                <label class="FormItem" for="email">SRC</label>
                <input class="FormItem" type="url" name="src" id="src">
                <input class="btn btn-primary" type="submit" value="Enviar"/>            
            </fieldset>
        </form>
    </section>